/* Card styling */
.content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    /* Distributes space between items */
    align-items: center;
    flex-wrap: wrap;
    /* Allow wrapping of cards */
    gap: 20px;
    /* Adds space between the cards */
    padding: 20px;
    /* Adds some padding around the container */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .125);
    height: 100%;
    max-width: 400px;
}

.card-header:first-child {
    border-radius: calc(1.5rem - 1px) calc(1.5rem - 1px) 0 0;
    background: #ffffff;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card img {
    border-radius: calc(1.5rem - 1px) calc(1.5rem - 1px) 0 0;
    width: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 767px) {
    .card {
        font-size: 0.7rem;
    }

    .card-header {
        font-size: 0.7rem;
    }

    .card-title {
        font-size: 0.7rem;
    }
}