/* Header styling */
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #094c8c;
  color: white;
  padding: 0.5vw 0.5vw;
  border-bottom: #ba9705 5px solid;
  height: 10vw;
  max-height: 80px;
  font-size: calc(10px + 2vw);
}

.header img {
  height: 100%;
  margin-right: 10px;
}

/* Navbar styling */
.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}