/* navbar styling */

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}