/* Footer styling */
.footer {
  background-color: #00509b;
  /* Azul CREA */
  color: white;
  text-align: center;
  padding: 0.5vw 0.5vw;
  border-top: #ba9705 5px solid;
  height: 10vw;
  max-height: 80px;
  font-size: calc(8px + 0.25vw);
}
