/* Ensure html and body take full viewport height */
html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(241, 244, 249);
}

/* Full-width container */
.full-width-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}